/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.message {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-profile {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e9ecef;
    border-radius: 5px;
    text-align: center;
}

.user-profile .flex {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.user-profile p {
    margin: 10px 0;
}

.user-profile .btn, .delete-btn, .btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.user-profile .btn:hover, .btn:hover {
    background-color: #0056b3;
}

.user-profile .delete-btn, .delete-btn {
    background-color: #dc3545;
}

.user-profile .delete-btn:hover, .delete-btn:hover {
    background-color: #a71d2a;
}

.heading {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.produk, .pesanan {
    margin-bottom: 20px;
    text-align: center;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.box img {
    max-width: 100%;
    height: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.table th {
    background-color: #000; /* Background warna hitam untuk header */
    color: #fff; /* Warna teks putih */
}

.table td img {
    max-width: 100px;
    height: auto;
}

.box .price {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: yellow;
    border-radius: 5px;
    color: black;
    font-size: 25px;
}

.container .pesanan .table {
    width: 100%;
    text-align: center;
}

.container .pesanan .table thead {
    background-color: #000; /* Background warna hitam untuk header */
}

.container .pesanan .table thead th {
    padding: 10px;
    color: #fff; /* Warna teks putih */
}

.container .pesanan .table tbody td {
    background-color: #000; /* Background warna hitam untuk kolom */
    color: #fff; /* Warna teks putih */
}
